DJANGO_DEBUG=1
DJANGO_SECRET_KEY=change-me
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
FRONTEND_ORIGINS=http://localhost:5173
POSTGRES_DB=yeticode
POSTGRES_USER=yeticode
POSTGRES_PASSWORD=yeticode
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
